---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="es"> <!--<![endif]-->
{% include head.html %}

<body>
  <link rel="stylesheet" type="text/css" href="carrusel.css">

  <div class="image-carousel-container">
    <div class="image-carousel">
        <div class="image-container">
          <img src="{{site.baseurl}}/assets/images/Image1.jpg" alt="Image 1" width="100%">
         </div>
      <div class="image-container">
         <img src="{{site.baseurl}}/assets/images/Image2.jpg" alt="Image 2" width="100%">
        </div>
      <div class="image-container">
        <img src="{{site.baseurl}}/assets/images/Image3.jpg" alt="Image 3" width="100%">
      </div>
        <button class="prev-button"><</button>
        <button class="next-button">></button>
       </div>
  </div>

  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
        {{ content }}
    </div>
  </div>

  {% include footer.html %}

{% include scripts.html %}



</body>

</html>

